<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="images/tcs.jpeg"></img>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= name %></p>
    </br>
    </br>
    
    <p>Below is your information </p>
    
    </br>
    </br>
    <table>
    
    <tr>
    <td>
    Name
    </td>
    <td>
   <b> : <%=name%></b>
    </td>
    </tr>
    <tr>
    <td>
    Employee ID 
    </td>
    <td>
    <b> : <%=employeeId%></b>
    </td>
    </tr>
    </table>
    </body>
    </html>